@{
    ViewBag.Title = "Home Page";
}

<div class="container vertical-center">
    <div class="jumbotron text-center">
        <h1 class="display-3">M3C</h1>
        <p class="lead">M3C allows emergency responders to track casualties more effectively, in an effort
            to expedite disaster recovery and reunite family members with their loved ones.</p>
    </div>
</div>

